* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body size*/
body {
    max-width: 512px;
    background-color: rgb(30, 30, 30);
}

/*wrapper size*/
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*chat wrapper size*/
.chat-wrapper {
    height: calc(100% - 160px);
    flex-grow: 1;
    background-color: rgb(37, 37, 37);
    display: flex;
}


/*sidebar*/
.sidebar {
    width: 80px;
    flex-shrink: 0;
    background-color: rgb(30, 30, 30);
    padding: 1rem;

    img {
        padding-bottom: 3px;
        border-radius: 50%;
        width: 100%;
    }

    & :first-child {
        border-radius: 0;
    }
}

/*main specs*/
main {
    flex-grow: 1;
    overflow-y: auto;
}

/*message*/
.firstline {
    color: white;
    font-size: 150%;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*searching bar*/
.upbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 0;
    gap: 1rem;

    button {
        border: none;
        background-color: rgb(59, 59, 59);
        color: white;
        font-size: 100%;
        padding: 0.4rem;
    }

    & :first-child {
        border-radius: 50%;
        flex: 0;
    }

    & :last-child {
        flex: 1;
        border-radius: 30px;

    }


}

/*chat section*/
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    img {
        border-radius: 50%;
        width: 12%;
    }
   

}






footer {
    height: 80px;
    background-color: rgb(54, 54, 54);
    flex-shrink: 0;
}