* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body size*/
body {
    max-width: 512px;
}

/*wrapper size*/
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*chat wrapper size*/
.chat-wrapper {
    height: calc(100% - 80px);
    flex-grow: 1;
    background-color: rgb(37, 37, 37);
    display: flex;
}


/*sidebar*/
.sidebar {
    width: 80px;
    flex-shrink: 0;
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    z-index: 1;

    img {
        padding-bottom: 3px;
        border-radius: 50%;
        width: 100%;
    }

    & :first-child {
        border-radius: 0;
    }
}

/*send a message*/
.sidebar {
    position: relative;

    i {
        position: absolute;
        bottom: 3%;
        right: -500%;
        border: 13px solid rgba(157, 87, 214, 0.604);
        background-color: rgb(157, 87, 214);
        border-radius: 50%;
        color: white;
    }


}

.sidebar i:hover {
    background-color: rgb(93, 0, 255);
    border-color: rgb(93, 0, 255);
    transition: all 0.5s;
}

.sidebar img:hover {
    width: 105%;
    transition: all 0.5s;
}



/*main specs*/
main {
    flex-grow: 1;
    overflow-y: auto;
}

/*message*/
.firstline {
    color: white;
    font-size: 150%;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*searching bar*/
.upbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 0;
    gap: 1rem;

    button {
        border: none;
        background-color: rgb(59, 59, 59);
        color: white;
        font-size: 100%;
        padding: 0.4rem;
    }

    & :first-child {
        border-radius: 50%;
        flex: 0;
    }

    & :last-child {
        flex: 1;
        border-radius: 30px;

    }


}

/*chat section*/
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;


    img {
        border-radius: 50%;
        width: 12%;
    }

    .time {
        font-size: 80%;
    }

    .name {
        font-weight: 600;
    }

    .mail {
        font-size: 90%;
    }

}

/*bonus*/

.profile:hover {
    background-color: rgba(68, 68, 68, 0.425);
    color: rgba(255, 255, 255, 0.783);
    border-radius: 15px;
    transition: all 0.5s;
}

.chat {
    position: relative;
}


/*online emoji*/
.emoji {
    position: absolute;
    translate: 3rem 45px;
}

.emoji1 {
    position: absolute;
    translate: 3rem 118px;
}

.emoji2 {
    position: absolute;
    translate: 3rem 190px;
}

.emoji3 {
    position: absolute;
    translate: 3rem 262px;
}

.emoji4 {
    position: absolute;
    translate: 3rem 334px;
}

.emoji5 {
    position: absolute;
    translate: 3rem 406px;
}

.emoji6 {
    position: absolute;
    translate: 3rem 475px;
}

.emoji7 {
    position: absolute;
    translate: 3rem 548px;
}

.emoji8 {
    position: absolute;
    translate: 3rem 620px;
}

.emoji9 {
    position: absolute;
    translate: 3rem 692px;
}

.emoji10 {
    position: absolute;
    translate: 3rem 764px;
}

.emoji11 {
    position: absolute;
    translate: 3rem 832px;
}

.wrapper {
    position: relative;
}

/*long white icon next to disord icon*/
.sidebar::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 50px;
    background-color: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}







.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    ;
}

.profile {
    display: flex;
    align-items: flex-start;
    padding: 0.7rem;
    color: rgb(141, 140, 140);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}





/*footer bar*/
footer {
    height: 80px;
    background-color: rgb(54, 54, 54);
    flex-shrink: 0;
}

.footerbar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 150%;
    padding-top: 1rem;

    .endbar-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .short {
        font-size: 55%;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        border-radius: 50%;
        padding-bottom: 1px;
    }

}